// Font Families
$font-familly-base: 'Poppins',sans-serif;
$font-familly-header: 'Staatliches', cursive;

// Font Weights
$font-weight-bold: 700;
$font-weight-regular: 400;

// Font Colors
$color-acc: #FFDE03;
$color-h2: #27221F;
$color-h1: #FFFFFF;
$color-base: #666666;

// Colors
$color-section-first: #FFFFFF;
$color-section-second: #F9F9F9;

//Font Sizes Desktop (Home)
$font-size-desktop-h1: 60px;
$font-size-desktop-h2: 40px;
$font-size-desktop-h3: 18px;
$font-size-desktop-p: 18px;
$font-size-desktop-a: 18px;
$font-size-desktop-li: 18px;

//Font Sizes Tablets (Home)
$font-size-tablets-h1: 50px;
$font-size-tablets-h2: 35px;
$font-size-tablets-h3: 18px;
$font-size-tablets-p: 18px;
$font-size-tablets-a: 18px;
$font-size-tablets-li: 16px;

//Font Sizes Mobile (Home)
$font-size-mobile-h1: 35px;
$font-size-mobile-h2: 26px;
$font-size-mobile-h3: 18px;
$font-size-mobile-p: 16px;
$font-size-mobile-a: 16px;
$font-size-mobile-li: 16px;

//Font Sizes Desktop (FAQ)
$font-size-desktop-faq-header: 40px;
$font-size-desktop-faq-question: 21px;
$font-size-desktop-faq-anwser: 18px;

//Font Sizes Tablets (FAQ)
$font-size-tablets-faq-header: 35px;
$font-size-tablets-faq-question: 18px;
$font-size-tablets-faq-anwser: 16px;

//Font Sizes Mobile (FAQ)
$font-size-mobile-faq-header: 21px;
$font-size-mobile-faq-question: 16px;
$font-size-mobile-faq-anwser: 16px;

//Buttons
$btn-font-size-desktop: 16px;
$btn-font-size-tablets: 14px;
$btn-font-size-mobile: 14px;

//Navigation
$nav-top-color: transparent;
$nav-top-sticky-color: #FFFFFF;
$nav-desktop-height: 150px;
$nav-desktop-sticky-height: 100px;
$nav-tablet-height: 100px;
$nav-mobile-height: 80px;